@model EmployeeManagementMVC.Models.Employee

@{
    ViewData["Title"] = "Employee Details";
}

<h2>Employee Details</h2>

<hr />

<dl class="row">

    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Department</dt>
    <dd class="col-sm-9">@Model.Department</dd>

    <dt class="col-sm-3">Salary</dt>
    <dd class="col-sm-9">@Model.Salary</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>

    <dt class="col-sm-3">Joining Date</dt>
    <dd class="col-sm-9">@Model.JoiningDate.ToShortDateString()</dd>

</dl>

<a asp-action="Edit" asp-route-id="@Model.EmpId" class="btn btn-warning">
    Edit
</a>

<a asp-action="Index" class="btn btn-secondary">
    Back
</a>
